.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.board-row {
  display: flex;
}

.square {
  background: #5f7ca8;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-board {
  margin-bottom: 20px;
}
